<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'トップ'}) %>
		<meta property="og:site_name" content="UDトークツールズ"/>
		<meta property="og:url" content="<%= rootURL %>"/>
		<meta property="og:title" content="UDトークツールズ"/>
		<meta property="og:type" content="Website" />
		<meta property="og:description" content=""/>
		<style>
			h2 {
				position: relative;
				overflow: hidden;
				padding: 1.5rem 2rem 1.5rem 80px;
				border: 3px solid #000;
				border-radius: 100vh;
			}

			h2 img {
				font-size: 30px;
				font-size: 3rem;
				line-height: 50px;
				position: absolute;
				top: calc(50% - 25px);
				left: 10px;
				display: block;
				width: 50px;
				height: 50px;
				color: #fff;
				border-radius: 50%;
				background: #000;
			}
		</style>
	</head>
	<body>
		<div class="container p-2">

			<h2><span><img src="/assets/icon.png" width="50px"></span>UDトークツールズ</h2>

			<div class="row m-3">
				<div class="col">
					<div class="card mb-3">
						<div class="card-body">
						  <h5 class="card-title"><a href="/yomifuri/">単語に読み振り</a></h5>
						  <p class="card-text">単語を記述したCSVファイルをアップロードして自動で読みを振ることができます。</p>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-body">
						  <h5 class="card-title"><a href="/srt2csv/">SRTをCSVに変換</a></h5>
						  <p class="card-text">字幕ファイル（.srt）からCSVファイルへ変換します。</p>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-body">
						  <h5 class="card-title"><a href="/jimakueditor/">字幕エディター（YouTube）</a></h5>
						  <p class="card-text">動画や音声を再生しながらUDトークのログ（.csv）や字幕ファイル（.srt）を編集することができます。</p>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-body">
						  <h5 class="card-title"><a href="/jimakueditor4file/">字幕エディター（ファイル）</a></h5>
						  <p class="card-text">動画や音声を再生しながらUDトークのログ（.csv）や字幕ファイル（.srt）を編集することができます。</p>
						  <p class="card-text">AmiVoice Cloud Platformの音声認識APIを利用して音声認識結果を作成することができます。</p>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-body">
						  <h5 class="card-title"><a href="/kikutaro.html">きくたろう2</a></h5>
						  <p class="card-text">文字起こしが楽々、多機能ローカルファイルプレイヤー。</p>
						</div>
					</div>

				</div>
			</div>

			<div class="mb-3" style="text-align: center;">
				Copyright © UDトーク. All Rights Reserved.
			</div>
		</div>
	</body>
</html>
