<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'node-tmp'}) %>
	</head>
	<body>
		<div class="container p-2">

			<h1>UDトークツールズ</h1>

			<div class="row">
				<div class="col">
					<lu>
						<li><a href="/srt_to_csv/">SRTをCSVに変換</a></li>
						<li><a href="/gen_reading/">読みを振る</a></li>
					</lu>
				</div>
			</div>
		</div>
	</body>
</html>
