<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/head', {title: 'note-tmp'}) %>
	</head>
	<body>
		<div class="container p-2">
			<h1>note-tmp</h1>
			<p>Please check your email from this service.</p>
			<a href="/">Submit</a>
		</div>
	</body>
</html>
