<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('../../parts/head', {title: '読みを振る'}) %>
	</head>
	<body>
		<div class="container p-2">

			<h1>読みを振る</h1>

			<div class="row">
				<div class="col">
				</div>
			</div>
		</div>
	</body>
</html>
