<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('../../parts/head', {title: 'SRTをCSVに変換'}) %>
	</head>
	<body>
		<div class="container p-2">
			<div class="mb-3">
				<a href="/">トップに戻る</a>
			</div>

			<h1>SRTをCSVに変換</h1>

			<div class="row">
				<div class="col">
					Coming soon...
				</div>
			</div>
		</div>
	</body>
</html>
