<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('../../parts/head', {title: '字幕コネクター'}) %>
		<meta property="og:site_name" content="字幕コネクター"/>
		<meta property="og:url" content="<%= rootURL %>"/>
		<meta property="og:title" content="字幕コネクター"/>
		<meta property="og:type" content="Website" />
		<meta property="og:description" content=""/>

		<script type="text/javascript" src="/javascripts/functions.js"></script>

		<style>
			
		</style>
	</head>
	<body>
		<div class="container p-2">
			<div class="mb-3">
				<a href="/">トップに戻る</a>
			</div>

			<h1>字幕コネクター</h1>

			<div class="mb-3">
				音声認識結果をZoomの字幕として送信します。
			</div>

			<div class="row mb-3">
				<div class="col-sm">
					<select class="form-select" id="devices" name="devices" aria-label="入力デバイス">
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-auto">
					<button class="btn btn-outline-primary" type="button" id="startRecordingButton">開始</button>
				</div>
				<div class="col-auto">
					<button class="btn btn-outline-primary" type="button" id="stopRecordingButton">終了</button>
				</div>
			</div>
		</div>

		<script>
			let mediaRecorder = null ;

			$(function() {
				$("#startRecordingButton").prop("disabled", true);
				$("#stopRecordingButton").prop("disabled", true);

				getCurrentDevices(async (devices) => {
					devices.forEach(function(device) {
						if (device.kind == "audioinput") {
							$("#devices").append('<option value="' + device.deviceId + '">' + device.label + '</option>') ;
						}
					}) ;

					let deviceId = $('[name=devices]').val();

					await initDevice(deviceId) ;
				}) ;

				$('[name=devices]').on("change", async () => {
					let deviceId = $('[name=devices]').val();
					//let label = $('[name=devices] option:selected').text();
					await initDevice(deviceId) ;
				}) ;

				$('#startRecordingButton').on('click', (e) => {
					if (mediaRecorder.state == "inactive") {
						mediaRecorder.start(1000) ;
					}
				}) ;

				$('#stopRecordingButton').on('click', (e) => {
					if (mediaRecorder.state != "inactive") {
						mediaRecorder.stop() ;
					}
				}) ;
			}) ;

			async function initDevice(deviceId) {
				$("#startRecordingButton").prop("disabled", true);
				$("#stopRecordingButton").prop("disabled", true);

				let stream = await navigator.mediaDevices.getUserMedia (
							{
								audio: { deviceId: deviceId }
							}
				).then() ;
				
				if (mediaRecorder != null) {
					if (mediaRecorder.state != "inactive") {
						mediaRecorder.stop() ;
					}
				}

				mediaRecorder = new MediaRecorder(stream);

				mediaRecorder.onstart = function(event) {
					console.log('onstart') ;
				} ;

				mediaRecorder.onstop = function(event) {
					console.log('onstop') ;
				} ;

				mediaRecorder.onpause = function(event) {
					console.log('onpause') ;
				} ;

				mediaRecorder.onresume = function(event) {
					console.log('onresume') ;
				} ;

				mediaRecorder.ondataavailable = function(e) {
					console.log('ondataavailable') ;
    				//chunks.push(e.data);

					console.log(e.data) ;
					//saveBlob(e.data, "a.webm") ;
  				}

				console.log(mediaRecorder) ;

				$("#startRecordingButton").prop("disabled", false);
				$("#stopRecordingButton").prop("disabled", false);
			}

			// Get current device array.
			function getCurrentDevices(delegate) {
				if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
					navigator.mediaDevices.getUserMedia (
						{
							audio: true
						}
						).then(function(stream) {
							navigator.mediaDevices.enumerateDevices().then(function(devices) {
								delegate(devices) ;
							}).catch(function(err) {
								delegate([]) ;
							}) ;
						}).catch(function(err) {
							delegate([]);
						});
				} else {
					delegate([]) ;
				}
			}

			function saveBlob(blob, fileName) { 
				if(window.navigator.msSaveBlob) {
					window.navigator.msSaveBlob(blob, fileName);
				} else {
					var a = document.createElement("a");
					a.href = URL.createObjectURL(blob);
					a.target = '_blank';
					a.download = fileName;
					a.click();
				}
			}
		</script>

	</body>
</html>
