<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('../../parts/head', {title: '文章に読み振り'}) %>
		<meta property="og:site_name" content="文章に読み振り - UDトークツールズ"/>
		<meta property="og:url" content="<%= rootURL %>"/>
		<meta property="og:title" content="文章に読み振り - UDトークツールズ"/>
		<meta property="og:type" content="Website" />
		<meta property="og:description" content=""/>

		<script type="text/javascript" src="/javascripts/functions.js"></script>

		<style>
			h1 {
			position: relative;
			line-height: 1.4;
			padding:0.25em 1em;
			display: inline-block;
			top:0;
			}

			h1:before, h1:after { 
			position: absolute;
			top: 0;
			content:'';
			width: 8px;
			height: 100%;
			display: inline-block;
			}

			h1:before {
			border-left: solid 1px black;
			border-top: solid 1px black;
			border-bottom: solid 1px black;
			left: 0;
			}

			h1:after {
			content: '';
			border-top: solid 1px black;
			border-right: solid 1px black;
			border-bottom: solid 1px black;
			right: 0;
			}

			h2 {
			padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
			color: #494949;/*文字色*/
			background: #f4f4f4;/*背景色*/
			border-left: solid 5px #7db4e6;/*左線*/
			border-bottom: solid 3px #d7d7d7;/*下線*/
			}
		</style>
	</head>
	<body class="p-3">
		<div class="container">
			<div class="mb-3">
				<a href="/">トップに戻る</a>
			</div>
			<h1 class="mb-3">文章に読み振り</h1>

			<div class="mb-3">
				文章に読みを自動的に振ります。
			</div>

			<div class="mb-3">
				<div class="mb-3">
					<h2>文章を入力</h2>
				</div>

				<div class="mb-5">
					<div class="mb-3">
						<p>読みを振りたい文章をを入力してください。<br />
						読みは[]と|で入力して振ることもできます。</p>
						<p class="small">例）[今日|きょう]はいい[天気|てんき]ですね。</p>
					</div>
					<div class="mb-3">
						<textarea class="form-control" id="input" name="input" style="height:300px"></textarea>
					</div>
					<div class="mb-3">
						<input class="btn btn-primary" id="genarateReadingButton" type="button" name="genarateReadingButton" value="自動で読み振り" />
					</div>
				</div>
						
				<div class="mb-3">
					<h2>結果を取得</h2>
				</div>

				<div class="ms-3 mb-3">
					<div class="row g-2">
						<div class="col-auto">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="outputType" id="outputType" value="0" checked>
								<label class="form-check-label" for="separatorType">HTMLファイル</label>
							</div>		
						</div>
						<div class="col-auto">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="outputType" id="outputType" value="1">
								<label class="form-check-label" for="separatorType">テキストファイル</label>
							</div>		
						</div>
					</div>
				</div>

				<div class="ms-3">
					<div class="mb-3">
						<label class="form-label" for="fileTitle">ファイルタイトル（拡張子は.txtか.htmlが自動で付与されます）</label>
					</div>
					
					<div class="mb-3">
						<div class="row g-2">
							<div class="col">
								<input class="form-control" id="fileTitle" type="text" name="fileTitle" value="" />
							</div>
							<div class="col-auto">
								<input class="btn btn-primary" id="saveAsFileButton" type="button" value="ファイルで保存" name="saveAsFileButton" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="mb-3 small" style="text-align: center;">
					Copyright © <a href="https://udtalk.jp">UDトーク</a>. All Rights Reserved.
				</div>
			</div>
		</div>

		<script>
			$(function () {
				let outputType = localStorage.getItem("outputType") ;

				if (outputType != undefined) {
					$('[id="outputType"]').val([outputType]) ;
				}
			}) ;

			let lines = null ;

			$("#saveAsFileButton").on('click', () => {
				let fileName = $("#fileTitle").val() ;

				if (fileName == "" || fileName == undefined) {
					fileName = "読み振りデータ" ;
				}

				saveAsFile($("#output").text(), fileName) ;
			}) ;
			
			function eventListener(e) {
				updateResult() ;

				localStorage.setItem("outputType", $('[id="outputType"]:checked').val()) ;
			} ;

			$('#genarateReadingButton').on('click', async (e) => {
				await doAction($('#input').val()) ;
			}) ;

			$('[id="outputType"]').on('change', eventListener) ;

			async function doAction(content) {
				let spinner = '<div class="d-flex justify-content-center"><div class="spinner-border my-3" role="status"><span class="visually-hidden">Loading...</span></div></div>' ;
				
				$("#spinner").empty() ;
				$("#spinner").append(spinner) ;

				const headers = {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				};

				const param = {
					method: "POST",
					headers: headers,
					body: JSON.stringify({content: content}),
				}

				await fetch("/yomifuri/dataEx", param)
					.then(response => response.json())
					.then(data => {
						content = data ;
					});

				$("#spinner").empty() ;

				$('#input').val(content) ;
			}
		</script>
	</body>
</html>